<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/src/assets/logo.svg" />
    <link rel="stylesheet" href="/src/css/main.css" />
    <title><%= VITE_APP_TITLE %></title>
  </head>
  <body class="text-[0.9375rem]">
    <div id="root">
      <!-- Splash -->
      <div
        class="flex flex-col gap-4 items-center justify-center min-h-screen supports-[min-height:100dvh]:min-h-[100dvh]"
      >
        <!-- Logo -->
        <img
          src="/src/assets/logo.svg"
          alt="<%= VITE_APP_TITLE %>"
          class="w-16 h-16"
        />

        <!-- Title -->
        <h1 class="font-semibold text-3xl lowercase text-green-500">
          <%= VITE_APP_TITLE %>
        </h1>
      </div>
      <!-- ./Splash -->
    </div>

    <!-- Noscript alert -->
    <noscript
      class="fixed inset-x-0 bottom-0 text-center bg-red-500 text-white px-2 py-1"
    >
      You need to enable JavaScript to run this app.
    </noscript>
    <!-- ./Noscript alert -->
    <script type="module" src="/src/main.jsx"></script>
  </body>
</html>
